# Default directory to save the downloaded torrents.
directory = /home/david/files/torrents/session

# Session
session = /home/david/files/torrents/session

# Watch directory
schedule = watch_directory_foo, 20, 10, "load.start=/home/david/files/torrents/watch/*.torrent"

# Move completed
system.method.set_key = event.download.finished,move_complete,"d.set_directory=/home/david/files/torrents/complete/;execute=mv,-n,$d.get_base_path=,/home/david/files/torrents/complete/"

# Encryption options, set to none (default) or any combination of the following:
# allow_incoming, try_outgoing, require, require_RC4, enable_retry, prefer_plaintext
#
# The example value allows incoming encrypted connections, starts unencrypted
# outgoing connections but retries with encryption if they fail, preferring
# plaintext to RC4 encryption after the encrypted handshake
#
encryption = allow_incoming,try_outgoing,enable_retry,prefer_plaintext
