img{
position:relative;
top:0px;
left:150px;
height:180px;
width:250px;
}

div{
color:#999999;
background-color:rgb(51, 51, 51);
padding:10px;
border-radius:8px 8px 8px 8px;
overflow:auto;
margin:15px 15px 15px 15px;
}

#resultDiv{
color:#ffffff;
background-color:rgb(91, 91, 91);
padding:10px;
border-radius:8px 8px 8px 8px;
overflow:auto;
margin:15px 15px 15px 15px;
}

#hiddenDiv{
color:#ffffff;
}
